body {
  width: 20rem;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h3 {
  word-break: break-all;
}

p {
  padding: 1rem;
  background: #80808040;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
}

.textarea[contenteditable]:empty::before {
  content: "Type here";
  color: gray;
}